#linksTable {
    border: 3px solid black; /* Fixed border definition */
    width: 80%; /* Example width, you can adjust */
    margin: 0 auto; /* Centers the table */
    border-collapse: collapse; /* Ensures the borders look clean */
}

#linksTable th, #linksTable td {
    border: 1px solid black; /* Sets the border around each cell */
    padding: 8px; /* Adds space inside the cells */
    text-align: center; /* Aligns text to the left, you can change it if needed */
}

#linksTable th {
    background-color: #70c2ff;
    font-size: 22px;

}

.cell-link {
    color: inherit; /* Keeps the original color */
    text-decoration: none;
    
}

.cell-link:hover {
    text-decoration: underline; /* Adds underline when hovering over the link */

}

.cellsite {
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
}

.tablehold {
    display: flex;
    justify-content: center; /* Centers the div horizontally */
    padding: 20px;
}
