#linksTable {
    border: 3px solid black; /* Fixed border definition */
    width: 80%; /* Example width, you can adjust */
    margin: 0 auto; /* Centers the table */
    border-collapse: collapse; /* Ensures the borders look clean */
}

.cell-link {
    color: inherit; /* Keeps the original color */
    text-decoration: none;
    text-align: center;
}

.cell-link:hover {
    text-decoration: underline; /* Adds underline when hovering over the link */
    text-align: center;
}

.cellsite {
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
}

.tablehold {
    display: flex;
    justify-content: center; /* Centers the div horizontally */
    padding: 20px;
}
