/* Resetting margins, paddings, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply flexbox layout to the body */
html, body {
    height: 100%;                /* Ensures the body and html take up full height of the viewport */
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Ensure main content takes up all available space */
main {
    flex: 1;                     /* Takes up available space between header and footer */
}

/* Basic body styles */
body {
    font-family: Tahoma;
}

.headerlink {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Keeps the original color */
}

/* Styling for the top menu */
.topmenu {
    background-color: black;
    color: white;
    margin: 0;
    display: flex;
}

/* Menu item styles */
.menu-item {
    font-family: tahoma;
    font-size: 18px;
    padding: 15px 40px 15px;               
    text-align: center;
    width: 160px;
    font-weight: bold;
}

.menu-item:hover {
    padding: 15px 40px 15px; 
    background-color: #007acc;
    color: white;                
    text-align: center; 
    text-transform: uppercase;
    font-weight: bolder; 
}

/* Divider styles */
.divider {
    height: 3px;
    border: none;
    background-color: black;
}

/* Footer styles */
.footinfo {
    background-color: grey;
    color: black;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 8px;
    width: 100%;               /* Ensures footer spans the full width */
}

.footlink {
    color: black;
}

.footlink:hover {
    color: white;
}
